.img-container, .container {
    text-align: center;
}

.myUL {
    display: inline-block;
    text-align: left;
}

h1 {
    background-color: white;
    color: rgb(45, 216, 74);
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-top: -15px;
}

h2 {
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

img {
    border-radius: 25px;
    margin-top: -45px;
}

div {
font-size: 15px;
margin-top: -25px;
}
